.header {
  background: $color1 url("../img/main-nav-bg-green.png") no-repeat center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4.7rem 2.5rem;
  height: auto;
  max-height: 70vh;
  transition: all 1s ease;

  @mixin not-visible {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: all 1s ease-out;
  }

  @mixin visible {
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: all 1s ease-out;
  }

  &__logo {
    margin-bottom: 9.4rem;

    .header__logo-text {
      fill: #fff;
      font-size: 2.9rem;
    }
  }

  &__hamburger {
    display: flex;
    justify-content: flex-end;
  }

  &__tagline {
    grid-column-start: 1;
    grid-column-end: 3;

    h1 {
      color: #fff;
      text-align: center;
      line-height: 130%;
    }
  }

  &__social-icons {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
  }

  &__image {
    display: none;
  }

  &__main-menu {
    grid-column-start: 1;
    grid-column-end: 3;

    .main-nav {
      list-style-type: none;
      transition: all 0.3s ease;
      @include not-visible;

      li {
        text-align: center;
        height: 0;

        a {
          color: #fff;
          text-decoration: none;
          font-size: 2.5rem;
        }

        &:not(:last-child) {
          margin-bottom: 3.5rem;
        }
      }
    }
  }

  &.active {
    max-height: 100vh;
    transition: all 1s ease;

    .header__tagline {
      @include not-visible;
    }

    .header__main-menu {
      .main-nav {
        @include visible;
        transition: all 0.3s ease;

        li {
          height: auto;
        }
      }
    }
  }

  @media (min-width: 768px) {
    padding: 0;
    background: none;
    grid-template-columns: 35% 65%;

    &__logo {
      padding: 4.7rem 0 0 2.5rem;
      .header__logo-text {
        fill: #2c4431;
      }
    }

    &__hamburger {
      display: none;
    }

    &__tagline {
      grid-column-end: 2;

      h1 {
        color: $color1;
        text-align: left;
        padding-left: 2.5rem;
      }
    }

    &__social-icons {
      grid-column-start: 1;
      grid-column-end: 2;

      li {
        a {
          svg {
            text,
            g {
              fill: $color1;
            }
          }
        }
      }
    }

    &__image {
      display: inline-block;
      background: $color1 url("../img/header-image.webp") no-repeat center;
      background-size: cover;
      grid-row-start: 1;
      grid-row-end: 4;
      grid-column-start: 2;
      grid-column-end: 3;
    }

    &__main-menu {
      grid-row-start: 5;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}
